.App {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  /* background-image: url('./background.jpg');
  background-size: 100%; */
} 

body {
  background-image: url('./background.jpg');
  background-size: 100%;
}

.loading{
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}


.loadingText{
  color: white;
}




