#headline{
    font-size:16vw;
    margin-top:75px;
    margin-bottom:75px;
    color:white;
}
.inputField{
    padding-bottom:75px;
}

.inputField input{
    line-height: 50px;
    font-size: 5vw; 
    text-align: center;
}


.quizGenerate{
    margin-bottom:20px;
}
.quizGenerate button{
    background-color: white;
    font-size: 2,5vw !important;
}

.hide{
    display: none;
}


