.question-section {
    background-color: rgb(222, 222, 222);
    margin: auto;
    margin-top: 10px;
    max-width: 1000px;
    min-height: 400px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    border-radius: 5px;
    display: block;
}

.question-section-2 {
    display: none;
}

.question-section > div {
    border: none;
    background-color:rgb(222, 222, 222) ;
}

.question-title {
    margin: auto;
    border-bottom: 1px solid lightgray;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.question-title > h2 {
    font-size: 30px;
}

.question-title > h3 {
    padding-top: 70px;
    font-size: 40px;
}

.question-body {
    margin: auto;
    display: grid;
    grid-template-areas:
    "answer answer "
    "answer answer ";
}

.question-body > div {
    padding: 10px;
    margin: auto;
}


.next-btn {
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    width: 200px;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
}

.next-btn:hover {
    background-color: #b2afaf;
    color: white;
}

@media screen and (max-width: 700px) {
    .question-title > h2{
        font-size: 25px;
    }

    .question-body {
        margin: auto;
        display: grid;
        grid-template-areas:
        "answer "
        "answer "
        "answer "
        "answer ";
    }

    .next-btn {
        width: 30%;
    }
}